<div class="content">
<div class="row">
    <div class="col-md-12">
        <div class="card card-timeline card-plain" style="background-color: transparent;">
            <div class="card-body">
                <ul class="timeline" style="height: 100%;">
                     
                    <li class='timeline-inverted'>
                        <div class='timeline-badge warning'>
                            <i class="tim-icons icon-refresh-02"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <span class="badge badge-pill badge-warning">01-12-2021</span>
                            </div>
                            <div class="timeline-body">
                                <ul>
                                    
                                    <li>Information -&gt; Update Template Zahir -&gt; Creative Tim FREE</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </li>
